doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title 默认
    link(rel="stylesheet", href="../scss/main.scss")
    
  body
    //- block header
      include header.pug
  
    block main

    //- block footer
      include footer.pug

    //- 页面公共脚本
    script(src="../lib/jquery-3.3.1.min.js")

  //- 用于单个页面引入的脚本
  block individual-script
